
body {
    margin: 0;
    height: 100vh;
    background-color: cadetblue;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1.2fr 1.5fr;
    grid-template-rows: 1fr 4fr 3fr 2fr;
    grid-template-areas:
        "main   yum    header"
        "main   yum  candy"
        "nom    yum     candy"
        "footer footer  candy";

    height: 100vh;
    margin: 2em;
}

main {
    grid-area: main;
    background: #FFFADF;
    
}

section.nom {
    grid-area: nom;
    background: #C4B35A;
    
}

section.yum {
    grid-area: yum;
    background: #333333;
}

section.diabeetus {
    grid-area: footer;
    background: #202020;
}

header {
    grid-area: header;
    background-color: rgb(226, 208, 134);
}
.candy {
    grid-area: candy;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/2621168/candy.jpg') no-repeat;
    background-size: cover;
}